<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico" />
    <!-- <link href="/frontend/css/index.css" rel="stylesheet"> -->
    <link href="/frontend/animation.css" rel="stylesheet">
    <title>Cosmic Shoot</title>
    <style>
        body {
            background-color: rgb(58, 58, 58);
        }

        .spaceship {
            position: relative;
            width: 100%;
            height: 900px;
            overflow: hidden;
        }

        .spaceship img {
            position: absolute;
            top: 550px;
            left: 550px;
            width: 60px;
            height: 50px;
            transform-origin: center center;
            transition: transform 0.2s;
        }

        .beam {
            position: absolute;
            width: 4px;
            height: 40px;
            background-color: rgb(193, 112, 0);
            transform-origin: center center;
            transition: transform 0.3s;
            animation: none;
        }

        @keyframes beam-animation {
            from {
                transform: translateY(0);
            }

            to {
                transform: translateY(1000px);
            }
        }
    </style>
</head>

<body>
    <div class="spaceship" id="spaceship">
        <img src="../assets/spaceship1.png" id="spaceship-img">
    </div>


</body>
<script>
    const spaceship = document.getElementById('spaceship-img');
    const space = document.getElementById('spaceship');
    let rotation = 0;
    let posX = 0;
    let posY = 0;

    document.addEventListener('keydown', (event) => {
        switch (event.key) {
            case 'a':
                posX -= 10;
                rotation = -90;
                break;
            case 'd':
                posX += 10;
                rotation = 90;
                break;
            case 'w':
                posY -= 10;
                rotation = 0;
                break;
            case 's':
                posY += 10;
                rotation = 180;
                break;
        }

        spaceship.style.transform = `translate(${posX}px, ${posY}px) rotate(${rotation}deg)`;
        console.log(posX, posY)
    });

    space.addEventListener('click', () => {
        shootBeam();
    });

    function shootBeam() {
        const beam = document.createElement('div');
        beam.className = 'beam';
        bposX = 550 ;
        bposY = 550 ;
        console.log(bposX, bposY)
        beam.style.transform = `translate(${bposX}px, ${bposY}px) rotate(${rotation}deg)`;
        space.appendChild(beam);

        // Start the animation
        beam.style.animation = 'beam-animation 1s linear';

        setTimeout(() => {
            beam.remove();
        }, 1000);
    }


</script>

</html>