<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/frontend/css/index.css" rel="stylesheet">
    <link href="/frontend/css/animation.css" rel="stylesheet">
    <title>Shoot Down</title>
    <style>
        canvas {
            height: max-content;
            width: max-content;
        }
    </style>
</head>

<body>
    <canvas id="canvas"></canvas>
</body>
<script>
    const canvas = document.getElementById("canvas")
</script>

</html>