<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico" />
    <link rel="stylesheet" href="/frontend/global.css">
    <title>TicTacToe-online</title>
    <style>
        h1 {
            color: white;
            text-align: center;
        }

        h2 {
            color: white;
            text-align: center;
        }

        #retry {
            display: inline-block;
            padding: 10px;
            background-color: #ff9900;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            width: 200px;
            height: 50px;
            font-weight: bold;
            border-style: none;
            margin: auto;
        }

        .result {
            background-color: rgb(46, 44, 44);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            width: 30%;
            height: 500px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            margin-top: 4%;
        }

        #goBack {
            margin: 60px auto;
            display: inline-block;
            padding: 10px;
            background-color: #cb1a1a;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            width: 200px;
            font-weight: bold;
            border-style: none;
        }

        .gameBoard {
            background-color: rgb(46, 44, 44);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            width: 30%;
            height: 500px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin: 10px 10px 10px 10px;
        }

        .boardBox {
            width: 90px;
            height: 90px;
            border-radius: 10px;
            border: none;
            margin: 10px 10px 10px 10px;
        }

        .findMatch {
            background-color: rgb(46, 44, 44);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            width: 30%;
            height: 500px;
            padding: 50px;
        }

        .findMatch>button {
            display: inline-block;
            padding: 10px;
            background-color: #ff9900;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            width: 200px;
            font-weight: bold;
            border-style: none;
            margin: auto;
        }

        .loadingMatch {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        @media only screen and (max-width: 768px) {
            .container {
                display: flex;
                justify-content: space-between;
                margin-top: 40%;
            }

            .gameBoard {
                background-color: rgb(46, 44, 44);
                padding: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: auto;
                width: 90%;
                height: 500px;
            }

            .result {
                background-color: rgb(46, 44, 44);
                padding: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: auto;
                width: 90%;
                height: 500px;
            }

            .findMatch {
                background-color: rgb(46, 44, 44);
                padding: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: auto;
                width: 90%;
                height: 4s00px;
                padding: 10px;
            }

            .findMatch>button {
                display: inline-block;
                padding: 10px;
                background-color: #ff9900;
                color: #fff;
                text-decoration: none;
                border-radius: 4px;
                width: 200px;
                height: 70px;
                font-weight: bold;
                border-style: none;
                margin: auto;
            }

            .boardBox {
                width: 90px;
                height: 90px;
                border-radius: 10px;
                border: none;
                margin: 10px 10px 10px 10px;
            }

        }
    </style>
</head>

<body>

    <div class="container" id="container">
        <div class="findMatch">
            <h1>Tic Tac Toe</h1>
            <button onclick="playWithBot()">Play with bot</button>
            <button onclick="findMatch()">Find match</button>
            <button onclick="playWithFriends()">Play with friend</button>
        </div>
    </div>
    <script>
        let box1;
        function playWithBot() {
            const scriptToRemove = document.getElementById("tictactoebot-script");
            if (scriptToRemove) {
                scriptToRemove.remove();
            }
            document.getElementById("container").innerHTML = `
            <div class="gameBoard">
                <h1>Tic Tac Toe</h1>
                <div class="row">
                    <button id="box1-0" class="boardBox"></button>
                    <button id="box1-1" class="boardBox"></button>
                    <button id="box1-2" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box1-3" class="boardBox"></button>
                    <button id="box1-4" class="boardBox"></button>
                    <button id="box1-5" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box1-6" class="boardBox"></button>
                    <button id="box1-7" class="boardBox"></button>
                    <button id="box1-8" class="boardBox"></button>
                </div>
            </div>
            <button id="goBack" onclick="goBack()">Surrender?</button>`
            const script = document.createElement("script");
            script.src = "../frontend/tictactoebot.js";
            script.id = "tictactoebot-script";
            document.body.appendChild(script);
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function playWithFriends() {
            const scriptToRemove1 = document.getElementById("tictactoebot-script1");
            if (scriptToRemove1) {
                scriptToRemove1.remove();
            }

            document.getElementById("container").innerHTML = `
            <div class="friends">
                <h1>Friends</h1>
                <ul>
                    <li></li>
                </ul>
                
            </div>`
            const script = document.createElement("script");
            script.src = "../frontend/tictactoeonline.js";
            script.id = "tictactoebot-script1";
            document.body.appendChild(script);
        }
    </script>
    <script>
        function goBack() {
            document.getElementById("container").innerHTML = `<div class="findMatch">
                    <h1>Tic Tac Toe</h1>
                    <button onclick="playWithBot()">Play with bot</button>
                    <button onclick="findMatch()">Find match</button>
                    <button onclick="playWithFriends()">Play with friends</button>
                </div>`
        }
        function cancel() {
            document.getElementById("container").innerHTML = `<div class="findMatch">
                    <h1>Tic Tac Toe</h1>
                    <button onclick="playWithBot()">Play with bot</button>
                    <button onclick="findMatch()">Find match</button>
                    <button onclick="playWithFriends()">Play with friends</button>
                </div>`
            socket.emit('removeAvailable', { senderID: "<%= username %>" });
        }
    </script>
    <script>
        const socket = io();
        socket.emit("connection");
        socket.emit("authenticate", { userID: "<%= username %>" });
        player2 = ""
        senderName = "<%= username %>";
        function findMatch() {

            document.getElementById("container").innerHTML = `
            <div class="loadingMatch">
                <h1>Finding players...</h1>
                <h2>Estimate time 30s..</h2>
                <button id="goBack" onclick="cancel()">Cancel</button>
            </div>`


            socket.emit('findMatch', { senderID: "<%= username %>" });
            socket.on('matched', (matchedUserData) => {
                console.log('You are matched with:', matchedUserData);
                player2 = matchedUserData;
                if (matchedUserData) {
                    loadBoard()
                }
            });
        }
        function loadBoard() {
            // const scriptToRemove1 = document.getElementById("tictactoebot-script1");
            // if (scriptToRemove1) {
            //     scriptToRemove1.remove();
            // }
            document.getElementById("container").innerHTML = `
            <div class="gameBoard">
                <h1>Tic Tac Toe</h1>
                <div class="row">
                    <button id="box-0" class="boardBox"></button>
                    <button id="box-1" class="boardBox"></button>
                    <button id="box-2" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box-3" class="boardBox"></button>
                    <button id="box-4" class="boardBox"></button>
                    <button id="box-5" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box-6" class="boardBox"></button>
                    <button id="box-7" class="boardBox"></button>
                    <button id="box-8" class="boardBox"></button>
                </div>
            </div>`
            // const script = document.createElement("script");
            // script.src = "../frontend/tictactoeonline.js";
            // script.id = "tictactoebot-script1";
            // document.body.appendChild(script);


            a = document.getElementById("box-0");
            b = document.getElementById("box-1");
            c = document.getElementById("box-2");
            d = document.getElementById("box-3");
            e = document.getElementById("box-4");
            f = document.getElementById("box-5");
            g = document.getElementById("box-6");
            h = document.getElementById("box-7");
            i = document.getElementById("box-8");

            let box = [a, b, c, d, e, f, g, h, i];
            p1Win = false;
            p2Win = false;
            cliked = false;
            toss = 'X';
            attempt = 0;
            scoreP1 = 0;
            scoreP2 = 0;
            let players;

            // Attach event listeners to buttons here
            for (let x = 0; x < box.length; x++) {
                box[x].addEventListener('click', function () {
                    clik(x);
                });
            }

            function clik(x) {
                if (p1Win == false && p2Win == false && cliked == false) {
                    if (box[x].innerText == "") {
                        box[x].innerText = toss;
                        cliked = true;
                        winCheck();
                        const message = x;
                        socket.emit('send_message', { senderID: senderName, recipientID: player2, content1: message, content2: toss });
                    }
                }
            }

            // Receive messages from the server
            socket.on('new_message', (data) => {
                const { senderID, content1, content2 } = data;
                if (box[content1].innerText == "") {
                    box[content1].innerText = content2;
                    cliked = false;
                    winCheck();
                }
                if (content2 == 'X') {
                    toss = 'O'
                } else {
                    toss = 'X'
                }
            });

            function checkWin(x, y, z) {
                if (box[x].innerText == "X" && box[y].innerText == "X" && box[z].innerText == "X") {
                    //checks left to right diag line for player
                    pWin = true;
                    if (toss == 'X') {
                        document.getElementById("container").innerHTML = `<div class="result"><h2>You WIN</h2>
                        <button id="retry" onclick="resetValues()">Try Again?</button>
                        <button id="goBack" onclick="cancel()">Go Back</button></div>`
                    } else {
                        document.getElementById("container").innerHTML = `<div class="result"><h2>You Lose</h2>
                        <button id="retry" onclick="resetValues()">Try Again?</button>
                        <button id="goBack" onclick="cancel()">Go Back</button></div></div>`
                    }


                } else if (box[x].innerText == "O" && box[y].innerText == "O" && box[z].innerText == "O") {
                    //checks left to right diag line for bot
                    bWin = true;
                    if (toss == 'O') {
                        document.getElementById("container").innerHTML = `<div class="result"><h2>You WIN</h2>
                        <button id="retry" onclick="resetValues()">Try Again?</button>
                        <button id="goBack" onclick="cancel()">Go Back</button></div>`
                    } else {
                        document.getElementById("container").innerHTML = `<div class="result"><h2>You Lose</h2>
                        <button id="retry" onclick="resetValues()">Try Again?</button>
                        <button id="goBack" onclick="cancel()">Go Back</button></div></div>`
                    }
                }
            }

            function winCheck() {
                if (
                    box[0].innerText != "" &&
                    box[1].innerText != "" &&
                    box[2].innerText != "" &&
                    box[3].innerText != "" &&
                    box[4].innerText != "" &&
                    box[5].innerText != "" &&
                    box[6].innerText != "" &&
                    box[7].innerText != "" &&
                    box[8].innerText != ""
                ) {
                    pWin = true;
                    bWin = true;
                    document.getElementById("container").innerHTML = `<div class="result">
        <button id="retry" onclick="resetValues()">Try Again?</button>
        <button id="goBack" onclick="cancel()">Go Back</button></div></div>`
                }
                checkWin(0, 4, 8);
                checkWin(1, 4, 7);
                checkWin(0, 1, 2);
                checkWin(2, 4, 6);
                checkWin(2, 5, 8);
                checkWin(3, 4, 5);
                checkWin(0, 3, 6);
                checkWin(6, 7, 8);
            }
        }
    </script>
</body>

</html>