body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

body::-webkit-scrollbar {
  scroll-behavior: smooth;
}

/* colors */
:root {
  --primary-color: #8C15E9;
  --secondary-color: #6c757d;
  --background-color: #f7f7f7;
  --text-color: #ffffff;
}