@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --main1-color: linear-gradient(to right, #0c0c0c, #5d27ff);
    --main2-color: linear-gradient(to right, #7a7cff, #ec6eff);
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --text-color: #000000;
}

body {
    background: var(--main1-color);
}

.header-overlay {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 2% 1%;

}

.logo {
    font-size: 150%;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user>a {
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .planet {
        width: 100%;
        margin: 0;
    }

    .box {
        margin: 5%;
    }
}