@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --main-color-1: linear-gradient(to right, #0c0c0c, #5d27ff);
    --main-color-2: linear-gradient(to right, #7a7cff, #ec6eff);
    --main-bg-color-1: rgb(34, 34, 158);
    --main-bg-color-2: rgb(164, 33, 215);
    --main-bg-color-3: rgb(105, 105, 255);
    --main-bg-color-4: rgb(105, 105, 255);
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --text-color-1: #000000;
    --text-color-2: rgb(255, 255, 255);
}

body {
    background: var(--main-color-1);
}