<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Set background color for the body */
        body {
            background-color: #1d1b34;
            font-family: Arial, sans-serif;
        }

        /* Style the form container */
        #repositoryForm {
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 200px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 221, 255, 1.8);
        }

        /* Style the text input */
        #reponame {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #07a607;
            border-radius: 5px;
        }

        #topics{
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #07a607;
            border-radius: 5px;
        }

        /* Style the radio buttons and their labels */
        label {
            display: block;
            margin-bottom: 10px;
            color: #07a607;
            font-weight: bold;
        }

        /* Style the file input */
        #file {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid #07a607;
            border-radius: 5px;
        }

        /* Style the buttons */
        button {
            padding: 10px 20px;
            margin-right: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #07a607;
            color: #fff;
            font-weight: bold;
        }

        /* Style the "Cancel" button */
        button:nth-child(1) {
            background-color: #07a607;
        }

        /* Style the "Create Repository" button */
        button:nth-child(2) {
            background-color: #191961;
        }
    </style>
</head>

<body>
    <form enctype="multipart/form-data" id="repositoryForm">
        <input type="text" id="reponame" name="name" placeholder="Repository Name" />
        <label>
            <input type="radio" name="visibility" value="public" /> Public
        </label>
        <label>
            <input type="radio" name="visibility" value="private" /> Private
        </label>
        <input type="text" id="topics" name="topics" placeholder="Topics (comma-separated)" />
        <input type="file" id="file" name="file" placeholder="File" />
        <button type="button" onclick="cancel()">Cancel</button>
        <button type="button" onclick="createRepository()">Create Repository</button>
    </form>
</body>

<script>
    const userId = "<%= username %>";
    function cancel() {
        window.location.href = "/";
    }

    let visibility = "public";

    function updateVisibility(event) {
        visibility = event.target.value;
    }

    document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
        radio.addEventListener('change', updateVisibility);
    });

    function createRepository() {
        const name = document.getElementById("reponame");
        const reponame = name.value;
        const topicsInput = document.getElementById("topics");
    const topics = topicsInput.value;
        const file = document.getElementById("file");
        const repofile = file.files[0];
        const formData = new FormData();
        formData.append("name", reponame);
        formData.append("visibility", visibility);
        formData.append("topics", topics);
        formData.append("accountId", userId);
        formData.append("file", repofile);
        
        fetch("/createRepository", {
            method: "POST",
            body: formData,
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.status === "success") {
                    window.location.href = "/";
                } else {
                    alert("Failed to create Repository: " + data.message);
                }
            })
            .catch((error) => {
                console.error("Error creating Repository", error);
                alert("An error occurred while creating the Repository. Please try again later.");
            });
    }
</script>

</html>