<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/createRepository" method="POST" enctype="multipart/form-data">
        <input type="text" id="reponame" name="name" placeholder="Repository Name" />
        <label>
            <input type="radio" name="visibility" value="public" /> Public
        </label>
        <label>
            <input type="radio" name="visibility" value="private" /> Private
        </label>
        <input type="file" id="file" name="file" placeholder="File" />
        <button type="button" onclick="cancel()">Cancel</button>
        <button type="submit">Create Repository</button>
    </form>

</body>
<script>
    function cancel() {
        window.location.href = "/";
    }

    const owner = '<%= username %>';
    let visibility = "public"; // Default to public

    // Function to update the visibility variable based on the radio button selection
    function updateVisibility(event) {
        visibility = event.target.value;
    }

    // Attach a change event listener to the radio buttons
    document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
        radio.addEventListener('change', updateVisibility);
    });

    function createRepository() {
        const name = document.getElementById("reponame");
        const reponame = name.value;
        const file = document.getElementById("file");
        const repofile = file.value;
        const data = {
            name: reponame,
            visibility: visibility,
            accountId: owner,
            file: repofile,
        };

        fetch("/createRepository", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                if (data.status === "success") {
                    alert("Repository created successfully!");
                } else {
                    alert("Failed to create Repository: " + data.message);
                }
            })
            .catch((error) => {
                console.error("Error creating Repository", error);
                alert("An error occurred while creating the Repository. Please try again later.");
            });
    }
</script>



</html>