<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/index.css" />
    <link rel="stylesheet" href="/frontend/css/animation.css" />
    <title>
        <%= username %>
    </title>
</head>
<button onclick="logout()">log out</button>

<body>
</body>
<script>
    function logout() {
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin'
        })
            .then(response => {

                if (response.ok) {
                    window.location.href = "/";
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error(error);
                alert("An error occurred while trying to log in");
            });
    }



</script>

</html>