<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= repository %>
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #1d1b34;
            margin: 0;
            padding: 0;
        }

        a {
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 30px;
        }

        h1 {
            color: white;
        }

        .profile-button {
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 18px;
            margin-right: 10px;
            cursor: pointer;
        }

        header h1 {
            font-size: 36px;
        }

        main {
            display: flex;
            justify-content: space-between;
        }

        #file {
            background-color: #fff;
            margin: 20px;
            padding: 20px;
            width: 65%;
            max-height: 500px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        #fileTree {
            border-radius: 20px;
            background-color: gray;
        }

        h2 {
            color: #07a607;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        #info {
            background-color: #fff;
            margin: 20px;
            padding: 20px;
            width: 30%;
            max-height: 500px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        #repo-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            border-radius: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <main>
        <section id="file">
            <div id="details">
                <h2>Repository Details</h2>
            </div>
            <div id="fileTree"></div>
        </section>
        <section id="info">
            <div id="repo-container">
                <h2>Actions</h2>
            </div>
            <div>
                <h2>Actions</h2>
                <button>settings</button>
                <button>contributers</button>
                <button>share</button>
            </div>
        </section>
    </main>

</body>
<script>
    function profile() {
        window.location = "/<%= username %>"
    }
</script>
<script>
    function displayFilesInRepository(files) {
        const fileTree = document.getElementById("fileTree");
        fileTree.innerHTML = "";

        if (files.length > 0) {
            const fileList = document.createElement("ul");
            files.forEach((file) => {
                const listItem = document.createElement("li");
                listItem.innerHTML = file;
                listItem.onclick = () => openRepository(files);
                fileList.appendChild(listItem);
            });
            fileTree.appendChild(fileList);
        } else {
            fileTree.innerHTML += "<p>No files in this repository.</p>";
        }
    }

    function openRepository(repoName) {

    }
</script>
<script>



    function loadRepository() {
        data = {
            userId: "<%= username %>",
            repository: "<%= repository %>",
        }
        fetch("/getRepository", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ data }),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                if (data.status === "success") {
                    const repository = data.repositories[0];

                    const repoContainer = document.getElementById("repo-container");
                    repoContainer.innerHTML = "";

                    const repoElement = document.createElement("div");
                    repoElement.className = "repository";
                    // repoElement.onclick = () => openRepository(repository.name);
                    repoElement.innerHTML = `<h3>${repository.name}</h3><p>Created on: ${repository.createdAt}</p></p>`;
                    // <p>Description: ${repository.description}</p><p>Topics: ${repository.topics.join(', ')}
                    repoContainer.appendChild(repoElement);

                    if (repository.files) {
                        displayFilesInRepository(repository.files);
                    }
                } else {
                    alert("Failed to load repository: " + data.message);
                }
            })
            .catch((error) => {
                console.error("Error loading repository", error);
                alert("An error occurred while loading the repository. Please try again later.");
            });
    }

    loadRepository();
</script>



</html>